<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Liste des Articles du Panier</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>

<body>
<div class="container my-2">
    <div class="card">
        <div class="card-body">
            <div th:switch="${listCartItems}" class="container my-5">
                <p class="my-5">
                    <a href="/addCartItem" class="btn btn-primary">
                        <i class="fas fa-plus-circle ml-2">Ajouter Article au Panier</i></a>
                </p>
                <div class="col-md-10">
                    <h2 th:case="null">No record found !!</h2>
                    <div th:case="*">
                        <table class="table table-striped table-responsive-md">
                            <thead>
                            <tr>
                                <th>Produit</th>
                                <th>Quantité</th>
                                <th>Prix Total</th>
                                <th>Modifier</th>
                                <th>Supprimer</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="cartItem : ${listCartItems}">
                                <td th:text="${cartItem.product.name}"></td>
                                <td th:text="${cartItem.quantity}"></td>
                                <td th:text="${cartItem.totalPrice}"></td>

                                <td>
                                    <a th:href="@{/edit/{id}(id=${cartItem.id})}" class="btn btn-primary">
                                        <i class="fas fa-edit ml-2"></i>
                                    </a>
                                </td>
                                <td>
                                    <a th:href="@{/delete/{id}(id=${cartItem.id})}" class="btn btn-danger">
                                        <i class="fas fa-trash ml-2"></i>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>
